@font-face {
    font-family: 'Consolas';
    src: url('/fonts/Consolas.eot?#iefix') format('embedded-opentype'),  url('/fonts/Consolas.woff') format('woff'), url('/fonts/Consolas.ttf')  format('truetype'), url('/fonts/Consolas.svg#Consolas') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Consolas-Bold';
    src: url('/fonts/Consolas-Bold.eot?#iefix') format('embedded-opentype'),  url('/fonts/Consolas-Bold.woff') format('woff'), url('/fonts/Consolas-Bold.ttf')  format('truetype'), url('/fonts/Consolas-Bold.svg#Consolas-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #000 url("../images/frame/background_scroll.jpg") no-repeat;
    background-position: 50% 33px;
    background-attachment: fixed;
    color: #29B200;
    font-family: Consolas;
    font-size: 11px;
}

.hidden {display: none;}

#wrapper {
    width: 1000px;
    margin: 0 auto;
}

#wrapper a {
    outline: none;
}
#wrapper a>img {
    cursor: pointer !important;
    outline: none;
}

/* Main css */
.tab {
    border: 1px #0D3300 solid;
    padding: 5px;
}
.statictic_referal_link_wrapper .user-share-link{
    width: 100%;
    box-sizing: border-box;
    padding: 0;
}
.statictic_referal_link_wrapper .copy-link{
    border: 1px solid #33cc00;
    background: #000000 url(/css/jui/images/ui-bg_white-lines_10_0f0d06_40x100.png) 50% 50% repeat;
    width: 100%;
    font-weight: bold;
    color: #8a6d3b;
    text-align: center;
    display: block;
    margin: 5px 0;
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
}
.referrals-block .copy-link:hover,
.statictic_referal_link_wrapper .copy-link:hover{
    color: #33cc00;
}
.referrals-block .user-share-link{

}
 .referrals-block .copy-link{
     border: 1px solid #33cc00;
     background: #000000 url(/css/jui/images/ui-bg_white-lines_10_0f0d06_40x100.png) 50% 50% repeat;
     font-weight: bold;
     color: #8a6d3b;
     text-align: center;
     box-sizing: border-box;
     text-decoration: none;
     padding: 5px;
     cursor: pointer;
     margin: -6px -6px 0 0;
     float: right;
     width: 110px;
}
.tab td {
    padding: 5px;
}

.active {
    border: 1px #33CC00 solid;
}

.underline_tooltip {
    border-bottom:1px dashed #33cc00;
}

.clrA { color:darkred; }
.clrU { color:#4169E1; }
.clrR { color:gray; }
.clrB { color:gray;text-decoration: line-through; }
.clrME { color:orange; }
.clrHL { color:yellow; }
ul { margin-top:0px; margin-bottom:0px;}
td {
    font-size: 14px;
}
textarea {
    font-family:  Tahoma, Arial ;
    font-size: 14px;
    color : #33cc00;
    border: 1px solid #471A11;
    background-color: black;
}
input, select {
    color : #33cc00;
    border: 1px solid #33cc00;
    height: 21px;
    font-size: 14px;
    font-family:  Tahoma, Arial ;
    background-color: black;

}

.radio {
    color: gray;
}

.radio a {
    color: gray;
    text-decoration: none;
}

hr {
    border: 1px #0D3300 solid;
    width: 98%;
    margin: 5px 0;
}

img {
    border: none;
}

.tag {
    background-color: black;
    color: #ffdead;
    padding: 1px;
}
#formmsg1 {
    left: 50%!important;
    margin: -30px 0 0 -300px;
    min-height: 63px;
    position: fixed!important;
    top: 50%!important;
    visibility: visible;
    width: 600px;
    z-index: 10;
    text-align: center;
}
#formmsg1 > table {
    display: inline;
}
.hint {
    border: #471a11 1px solid;
    padding: 3px;
    z-index:1;
    background-color: black;
}

#hint1 {
    visibility: hidden;
    position: absolute;
}

a.lm {
    color: #33cc00;
}

a.lm:hover {
    color: #FFF8DC;
    text-decoration: none;
}

.ltxt {
    color: #33cc00;
}

.tr {
    background-color: black;
    table-layout: fixed;
    overflow: auto;
}

.trhead {
    background-color: black;
    background-image: url(images/tbg.gif);
}

#Stat {
    position:absolute;
    z-index:1;
}

.Stat {
    position:relative;
    z-index:1;
    left: 0px;
    top: 0px;
}

#Enemy {
    position:absolute;
    z-index:1;
}

.Enemy {
    position:relative;
    z-index:1;
    left: 0px;
    top: 0px;
}

#inner_content {
    width: 713px;
    position: relative;
    min-height: 760px;
}

#inner_image_bg {
    position: relative;
    width: 710px;
}

#inner_content ul {
    margin-left: 20px;
}

/* Horizontal menu */
#horizontal_menu td {
    padding-left: 5px;
    width: 850px;
}

#right_horizontal_menu {
    margin-left: 150px;
    margin-top: -6px;
}

.menu_platinum {
    padding-top: 4px;
}

#cable_horizontal_main {
    background: url('../images/frame/cable_horizontal-main.png');
    display: block;
    width: 178px;
    height: 11px;
    margin: 0 auto;
    margin-top: -7px;
}
/* Player menu */
#player_menu {
    float: left;
    position: absolute;
    background: #000;
    z-index: 1;
    width: 150px;
}

#support_player {
    display: none;
    margin-bottom: -10px;
    margin-top: 5px;
}

#player_menu table {
    border-collapse: collapse;
}

.player_menu_header {
    background: url("../images/frame/player_menu_header.png") no-repeat;
    width: 150px;
    height: 25px;
}

.player_menu_main {
    background: url("../images/frame/player_menu_main.png") repeat-y;
    width: 150px;
}

.player_menu_main ul {
    list-style-type: none;
    margin-left: 30px;
}

.player_menu_main ul a {
    color: #29B200;
    text-decoration: none;
}

.player_menu_footer {
    background:url("../images/frame/player_menu_footer.png") no-repeat;
    width: 150px;
    height: 25px;
}

#player_button {
    margin-top: 7px;
}

/* Info menu */
#info_menu {
    border-collapse: collapse;
}

.info_menu_header {
    background: url("../images/frame/info_header.png") no-repeat;
    width: 220px;
    height: 50px;
}

.info_menu_footer {
    background: url("../images/frame/info_footer.png") no-repeat;
    width: 220px;
    height: 40px;
}

.info_menu_content {
    background: url("../images/frame/info_main.png") repeat-y;
    width: 220px;
}

#info_block {
    margin-left: 40px;
    width: 150px;
}

div#title_info {
    margin-left: 0;
    margin-bottom: 10px;
}
div#title_info .language-chooser{
    width: auto;
}

#info_block ul {
    list-style-type: none;
}

#resources {
    margin-top: 3px;
}

#info_block img {
    margin-right: 4px;
    position: relative;
    top: 2px;
}

.img_stat {
    margin-right: -3px!important;
}

.progress_bar {
    width: 136px;
    border: 1px solid #29B200;
    height: 6px;
    position: relative;
    top: 3px;
}

.progress_bat_table {
    height: 4px;
}

.progress_bar_bg {
    float: left;
}

.progress_bar_title {
    font-weight: bold;
    position: relative;
    left: 40%;
    font-size: 14px;
}

.progress_bar_content {
    font-size: 13px;
}

.progress_bar_block {
    position: relative;
    left: 20%;
}

#cable_info_vmenu {
    background: url('../images/frame/cable_info-vmenu.png') no-repeat;
    display: block;
    height: 15px;
    margin: 0 auto;
    width: 114px;
}

#lamp {
    background: url("../images/frame/lamps.png") no-repeat;
    width: 82px;
    height: 146px;
    position: absolute;
    margin: -120px;

}
/* Banner menu */
#banner_menu {
    border-collapse: collapse;
}

#banner_menu .banner_border {
    margin: 0 auto;
    margin-bottom: 5px;
    border-collapse: collapse;
}

.banner_menu_header {
    background: url("../images/frame/banner_header.png") no-repeat;
    width: 220px;
    height: 25px;
}

.banner_menu_main {
    background: url("../images/frame/banner_main.png") repeat-y;
    width: 220px;
    height: 80px;
}

.banner_menu_divider {
    background: url("../images/frame/banner_divider.png") no-repeat;
    width: 220px;
    height: 20px;
}

.banner_menu_footer {
    background: url("../images/frame/banner_footer.png") no-repeat;
    width: 220px;
    height: 25px;
}

.banner_border_lt {
    background: url("../images/frame/border_lt.png") no-repeat;
    width: 5px;
    height: 5px;
}

.banner_border_t {
    background: url("../images/frame/border_t.png") repeat-x;
    width: 5px;
    height: 5px;
}

.banner_border_rt {
    background: url("../images/frame/border_rt.png") no-repeat;
    width: 5px;
    height: 5px;
}

.banner_border_l {
    background: url("../images/frame/border_l.png") repeat-y;
    width: 5px;
    height: 1px;
}

.banner_content img {
    position: relative;
    z-index: 1;
}

.banner_border_r {
    background: url("../images/frame/border_r.png") repeat-y;
    width: 5px;
    height: 1px;
}

.banner_border_lb {
    background: url("../images/frame/border_lb.png") no-repeat;
    width: 5px;
    height: 5px;
}

.banner_border_b {
    background: url("../images/frame/border_b.png") repeat-x;
    width: 5px;
    height: 1px;
}

.banner_border_rb {
    background: url("../images/frame/border_rb.png") no-repeat;
    width: 5px;
    height: 5px;
}

.banner_detail_1 {
    background: url("../images/frame/banner_detail_1.png") no-repeat;
    width: 230px;
    height: 30px;
    position: absolute;
    margin-left: -70px;
}

.banner_detail_2 {
    background: url("../images/frame/banner_detail_2.png") no-repeat;
    width: 230px;
    height: 30px;
    position: absolute;
    margin-left: -70px;
    margin-top: 40px;
    display: block;
}

#cable_vmenu_banner {
    background: url('../images/frame/cable_vmenu_banner.png') no-repeat;
    display: block;
    width: 63px;
    height: 15px;
    margin: 0 auto;
    z-index: 1;
}

/* ToolTip */
#tooltip {
    position: absolute;
    z-index: 3000;
    border: 1px solid #0D3300;
    background-color: #000;
    padding: 5px;
    font-size: 1em;
    width: 250px;
}

.tooltip_box {
    display: none;
}

/* Vertical menu */
#left_side_bar {
    width: 220px;
    float: left;
    margin-right: 10px;
}

#vertical_menu {
    border-collapse: collapse;
    float: left;
}

.vertical_menu_header {
    background: url("../images/frame/content_header.png") no-repeat;
    width: 220px;
    height: 20px;
}

.vertical_menu_footer {
    background: url("../images/frame/content_footer.png") no-repeat;
    width: 220px;
    height: 20px;
}

.vertical_menu_content {
    background: url("../images/frame/content_main.png") repeat-y;
    width: 220px;
    height: 20px;
}

#stripe {
    border-collapse: collapse;
    margin-left: 20px;
    float: left;
    margin-right: 3px;
    height: 100%;
}

.stripe_header {
    background: url("../images/frame/stripe_head.png") no-repeat;
    width: 25px;
    height: 5px;
}

.stripe_footer {
    background: url("../images/frame/stripe_footer.png") no-repeat;
    width: 25px;
    height: 5px;
}

.stripe_main {
    background: url("../images/frame/stripe_main.png") repeat-y;
    width: 25px;
    height: 265px;
}

#vertical_button {
    border-collapse: collapse;
}

#wires {
    position: absolute;
    /*top: 342px;
    left: 624px;*/
    margin-left: 130px;
    margin-top: -24px;
}
/* Content */
#content {
    padding-left: 20px;
}

#table_content {
    border-collapse: collapse;
    z-index: 1;
}

.table_content_left_header {
    background: url("/images/frame/content_lt.png") no-repeat;
    width: 25px;
    height: 40px;
}

.table_content_center_header {
    background: url("/images/frame/content_xt.png") no-repeat;
    height: 40px;
    width: 715px;
}

.page_title {
    width:245px;
    max-width:245px;
    margin:-11px 0 0 40px;
    font-size: 12px;
    text-align:center;
}

/* Кнопка "назад" возле названия текущей локации */
#back_button {
    position:absolute;
    width:10px;
    height:10px;
    margin:-9px 0 0 25px;
}

.table_content_right_header {
    background: url("../images/frame/content_rt.png");
    width: 25px;
    height: 40px;
}

.table_content_left_border {
    background: url("../images/frame/content_ly.png") repeat-y;
    width: 25px;
}

.table_content_right_border {
    background: url("../images/frame/content_ry.png")  repeat-y;
    width: 25px;
}

.table_content_left_footer {
    background: url("../images/frame/content_lb.png");
    width: 25px;
    height: 31px;
}

.table_content_center_footer {
    background: url("../images/frame/content_xb.png");
    width: 715px;
}

.table_content_right_footer {
    background: url("../images/frame/content_rb.png");
    width: 25px;
    height: 31px;
}

#cable_vertical_main {
    background: url('../images/frame/cable_vertical-main.png');
    display: block;
    width: 15px;
    height: 376px;
    margin: 0 auto;
    position: absolute;
    margin-left: 217px;
    margin-top: 40px;
}

/* Footer */
#copyright {
    width: 1000px;
    height: 60px;
    clear: both;
}
#copyright span {
    background: url("../images/frame/footer.png") no-repeat;
    width: 170px;
    margin: 20px auto 0;
    display: block;
    text-align: center;
    padding-top: 20px;
}

/* Dialogs heads */
#dialog_bk {
    z-index: -1;
    position: absolute;
    margin-top: -14px;
    margin-left: -19px;
}
#dialog_head {
    z-index: -2;
    position: absolute;
    margin-top: 3px;
    margin-left: 160px;
}
#dialog_content_up {
    z-index: 0;
    position: absolute;
    margin-top: 220px;
    margin-left: 155px;
}
#dialog_content_middle {
    position: relative;
    background: url('/images/dialog/dialog_content_middle.png') no-repeat;
    height: 15px;
    margin-bottom: -15px;
}
#dialog_content_main {
    background: url("/images/dialog/dialog_content_main.png") repeat-y;
    height: auto;
    width: 410px;
    position: absolute;
    margin-top: -1px;
}
#dialog_content_main span {
    padding: 10px;
    display: block;
}
#dialog_content_main2 span {
    padding: 10px;
    display: block;
}
#dialog_content_main2 {
    background: url("/images/dialog/dialog_content_main.png") repeat-y;
    height: auto;
    width: 410px;
    position: absolute;
    margin-top: 15px;
}


#dialog, #dialog1 {
    font-size: 16px;
}
#dialog a, #dialog1 a {
    outline: none;
    border: none;
}
#dialog .stroke:hover, #dialog1 .stroke:hover {
    border: 2px solid #33cc00;
}

/* Блок помощи новичку */
.beginner_helper {
    position: relative;
    margin: 0 0 30px 0;
}
.beginner_helper .beginner_helper_content {
    padding: 6px 12px;
}
.beginner_helper .hide_beginner_helper_msg {
    height: 48px;
    overflow: hidden;
}
.beginner_helper .show_beginner_helper_msg {
    padding: 6px 12px;
    height: auto;
}
.beginner_helper .beginner_helper_arrow {
    padding: 6px 12px;
    background: url("/images/beginner_helper_arrow.png") no-repeat;
    display: block;
    width: 20px;
    height: 19px;
    position: absolute;
    margin: 1px 0 0 333px;
}

/* Магазин предметов в токсических пещерах */
.shop_caves_sort_head {
    text-align: center;
    margin-bottom: 5px;
}


/* Досстижения */
.achieve_gift {
    display: none;
}


#inner_content button {
    background-color: black;
    border: 1px solid #33cc00;
    color: #33cc00;
    font-family: Tahoma, Arial;
    font-size: 14px;
    height: 21px;
}

.clear {
    clear: both;
}
.language-chooser {
    display: inline-block;
    overflow: hidden;
    margin-top: 2px;
    vertical-align: top;
}
.language-chooser li {
    float: left;
    margin-right: 7px;
    vertical-align: top;
}

.lang-active {
    border:none;
}
.lang-passive a {
    font-weight: normal;
    opacity: 0.4;

}
.lang-passive a:hover {
    font-weight: normal;
    opacity: 1;

}
#info_block #resources{
    background: #000;
}
@font-face {
    font-family: 'KBBand';
    src: url('fonts/KBBand.eot?#iefix') format('embedded-opentype'),  url('fonts/KBBand.woff') format('woff'), url('fonts/KBBand.ttf')  format('truetype'), url('fonts/KBBand.svg#KBBand') format('svg');
    font-weight: normal;
    font-style: normal;
}
.hint-blok-wrapper{
    border: 3px solid rgba(255, 255, 255, 0.30);
    width: 371px;
    height: 206px;
    box-sizing: border-box;
    border-radius: 5px;
}
.hint-blok{
    width: 365px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.70);
}
.hint-blok .col-left-img{
    width: 212px;
    height: 200px;
    position: relative;
    float: left;
}
.hint-blok .col-left-img img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.hint-blok .col-right-text{
    width: 152px;
    float: right;
    position: relative;
    height: 200px;
}
.hint-blok .col-right-text h4.title{
    font-size: 18px;
    font-family: 'KBBand';
    text-align: center;
    line-height: 22px;
    padding-right: 5px;
    text-transform: uppercase;
    margin-top: 8px;
}
.hint-blok .col-right-text p{
    font-size: 12px;
    line-height: 13px;
    font-family: 'Arial';
    height: 142px;
    overflow: hidden;
    padding-right: 5px;
    padding-top: 2px;
    letter-spacing: -0.5px;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

table.clan-players { width:100%; border-spacing: 0; }
table.clan-players td { text-align: center; }
table.clan-players td.ta-left { text-align: left; }
tr.tr-hover:hover, tr.tr-hover:hover td {
    background: #000000;
}
/************* payment page ********************/

.pmnt > form > input[type="radio"] {
    display:none;
}

.pmnt > form > input[type="radio"] + label {
    font: 18px bold;
    color: #555555;
    cursor: pointer;
}
.pmnt > form > input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    height: 92px;
    width: 83px;
    margin: 0;
    background-image: url(/images/payment-sprite.png);
    background-repeat: no-repeat;
}
.pmnt > form > input[type="radio"] + label {
    position: relative;
}
.pmnt > form > input[type="radio"] + label::before {
    background-position: 0px 0px;
}

.pmnt > form > input[type="radio"]:checked + label::before {
    background-position: -50px -0px;
}





.pmnt input#ps_test + label::before {
    background-position: -707px 4px;
}
.pmnt input#ps_test:checked + label::before {
    background-position: -707px -93px;
}


.pmnt input#ps_svyasnoi + label::before {
    background-position: -19px 5px;
}
.pmnt input#ps_svyasnoi:checked + label::before {
    background-position: -21px -93px;
}


.pmnt input#ps_evroset + label::before {
    background-position: -127px 4px;
    background-position: -387px 5px;


}
.pmnt input#ps_evroset:checked + label::before {
    background-position: -126px -92px;
    background-position: -386px -93px;
}

.pmnt input#ps_qiwiwallet + label::before {
    background-position: -220px 3px;
    background-position: -127px 4px;
}
.pmnt input#ps_qiwiwallet:checked + label::before {
    background-position: -219px -93px;
    background-position: -126px -92px;
}

.pmnt input#ps_yamoney + label::before {
    background-position: -302px 6px;
}
.pmnt input#ps_yamoney:checked + label::before {
    background-position: -302px -93px;
}

.pmnt input#ps_webmoney + label::before {
    background-position: -387px 5px;
    background-position: -220px 3px;

}
.pmnt input#ps_qiwiwallet + label::after,
.pmnt input#ps_yamoney + label::after{
    color: #ff0000;
    content: "+%";
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: -70px;
}

.pmnt input#ps_webmoney:checked + label::before {
    background-position: -386px -93px;
    background-position: -219px -93px;
}

.pmnt input#ps_mobiamo + label::before {
    background-position: -484px 6px;
}
.pmnt input#ps_mobiamo:checked + label::before {
    background-position: -483px -93px;
}

.pmnt input#ps_mint + label::before {
    background-position: -586px 5px;
}
.pmnt input#ps_mint:checked + label::before {
    background-position: -585px -93px;
}
.pmnt form h3 {
    padding: 30px 0;
}
.pmnt .buy-from {
    padding: 30px 0;
}
.pmnt .current-donate {
    color: #fff;
    line-height: 20px;
}
.pmnt table {
    padding: 30px 0;
    color: #fff;
}
.pmnt table tr {
    line-height: 25px;
}
.pmnt table td {
    padding-right: 60px;
}
.pmnt .red {
    color: #ff0000;
}
.pmnt .current-donate .green {
    color: #29b200;
}
.pmnt .cup_block {
    display: inline-block;
    background: url(/images/border-bg.png) no-repeat;
    width: 216px;
    height: 269px;
    position: relative;
    margin: 21px 24px 21px 0;
}
.pmnt .cup_block:nth-child(3n+3) {
    margin-right: 0;
}
.pmnt .cup_block::after {
    background: rgba(0, 0, 0, 0) url("/images/share-yellow.png") no-repeat scroll 0 0;
    content: "";
    display: block;
    height: 114px;
    position: absolute;
    right: -11px;
    top: -10px;
    width: 110px;
}
.pmnt .cup_block.red-flag::after {
    background: rgba(0, 0, 0, 0) url("/images/share-red.png") no-repeat scroll 0 0;
    content: "";
    display: block;
    height: 114px;
    position: absolute;
    right: -11px;
    top: -10px;
    width: 110px;
}
.pmnt .cup_block img {
    max-width: 168px;
    margin: 0 auto 7px;
    display: block;
    height: 142px;
}
.pmnt .pay-cap {
    color: #a08f20;
    display: block;
    font-family: "Consolas-Bold";
    font-size: 24px;
    font-weight: bold;
    padding-top: 25px;
    text-align: center;
}
.pmnt .pay-discount {
    color: #000;
    display: block;
    font-size: 24px;
    font-weight: bold;
    height: 21px;
    position: absolute;
    right: -7px;
    text-align: center;
    top: 15px;
    transform: rotate(45deg);
    width: 60px;
    z-index: 10;
}
.pmnt .cup_block.red-flag .pay-discount {
    color: #fff;
}

.pmnt .buy_button {
    /*background: rgba(0, 0, 0, 0) url("/images/border-buy.png") no-repeat scroll 0 -48px;*/
    /*border: medium none;*/
    /*cursor: pointer;*/
    /*display: block;*/
    /*float: right;*/
    /*font-size: 0;*/
    /*height: 38px;*/
    /*margin-right: 20px;*/
    /*margin-top: 5px;*/
    /*width: 128px;*/
    /*outline: none!important;*/
    background: rgba(0, 0, 0, 0) url("/images/buy-btn.png") no-repeat;
    display: block;
    border: none;
    width: 121px;
    height: 37px;
    cursor: pointer;
    font: 16px "Consolas-Bold", sans-serif;
    color: #a09020;
    text-align: center;
    padding-top: 3px;
    float: right;
    margin-right: 23px;
    margin-top: 2px;
    text-shadow: 0 2px 2px rgba(0,0,0, .9);
}
.pmnt .buy_button:hover {
    background-position: 0 -41px;
}

.pmnt .pay-price {
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin: 11px 0 0 19px;
}
.pmnt .plashka-line {
    background: url('/images/plashka-line.jpg') no-repeat;
    width: 730px;
    height: 23px;
    margin-top: 30px;
}
.pmnt .bottom-ask {
    padding: 40px 0 30px;
}
.pmnt .bottom-answer {
    padding-bottom: 30px;
}
#inner_content .error, #inner_content .error a {
    font-size: 24px;
    text-align: center;
    color: #ff0000;
}
#inner_content table {
    position: relative;
}
#inner_content table.list-invited tr td{
    max-width: 300px;
    overflow: hidden;
}
.referrals-block p{
    margin: 5px 0;
}
.referrals-table{
    text-align: center;
}
.referrals-table tr td{
    padding: 2px 0;
}
.target-circle {
    background-position: center top;
    background-repeat: no-repeat;
    display: block;
    height: 100px;
    left: 129px;
    position: absolute;
    top: 226px;
    width: 100px;
}
.target-circle td {
    color: #41ff01;
    display: block;
    font-family: Verdana;
    font-size: 13px;
    font-weight: bold;
    padding-top: 48px;
    text-align: center;
    text-shadow: 1px 3px 3px #000;
}
.target-circle-small {
    background-position: center top;
    background-repeat: no-repeat;
    display: block;
    height: 50px;
    left: 65px;
    position: absolute;
    top: 293px;
    width: 50px;
}
#circle-marker {
    width: 100px;
    display: inline-block;
    z-index: 5;
}
#cross-marker {
    width: 10px;
    display: inline-block;
    z-index: 10;
}
#cross-marker:hover {
    z-index: 20;
}
#cursor {
    z-index: 15;
}
.toxic {
    width: 120px !important;
}
.toxic span {
    width: 120px !important;
}
#circle-marker span, #cross-marker span {
    color: #1D6F01;
    display: block;
    font-family: Verdana;
    font-size: 9px;
    padding-top: 0;
    text-align: center;
    margin: 0;
    width: 100px;
    text-align: center;
}
#cross-marker span.red-text {
    color: #A80000;
    display: block;
    background: none;
}

#circle-marker img,
#cross-marker img {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 11px;
}
#cursor {
    width: 10px;
    display: inline-block;
    text-align: center;
}

#cross-marker span {
    text-align: center;
    display: none;
    background: #ccc;
}
#cross-marker img:hover + span {
    display: block;
    text-align: center;
}
.target-circle-small td {
    color: #41ff01;
    display: block;
    font-family: Verdana;
    font-size: 10px;
    font-weight: bold;
    left: 13px;
    padding-top: 30px;
    position: relative;
    /*text-align: right;*/
    text-shadow: 1px 3px 3px #000;
}
#inner_content iframe {
    width: 100%;
}
#inner_content iframe .paymentwall {
    border: 4px solid #413424!important;
}

.green-t, .extra-text {
    background: #000000;
    color: #00cc00;
    border: solid 1px #00cc00;
    width: 100px;
    display: block;
    text-align: center;
    font-size: 12px;
    vertical-align: top;
    padding: 3px;
    line-height: 14px;
}
#circle-marker img.hovered, #cross-marker img.hovered {
    border: solid 2px #29B200;
    border-radius: 50%;
}
#circle-marker img, #cross-marker img {
    border: solid 2px transparent;
    border-radius: 50%;
}
.name-loc:hover {
    text-decoration: underline;
    cursor: pointer;
}
.ui-dialog { z-index: 1; }
.ui-widget-content .ui-icon { margin: -8px 0 0 -8px; }
.tr.tr-width td {
    width: 700px;
}
.td-width td {
    display: block;
    width: 712px;
}
#dialog td.stroke {
    font-size: 14px;
    width: 50%;
    border: solid 2px transparent;
}
#dialog td.stroke img {
    width: 160px;
    display: block;
    margin: 0 auto!important;
}
#ps_content h3 {
    color: #fff;
}
.popup-content p {
	padding-top: 10px;
}
#popup-email-form{
	padding-top: 10px;
}
#popup-email-form input#email_filed {
	width: 80%;
}
#popup_email_error {
	padding-top: 10px;
	color: red;
}
.ui-button-text-only .ui-button-text {
    padding: .5em 1em .3em !important;
}

div.flash {
    margin: 1em 0;
    padding:.8em;
    border:2px solid #ddd;
    border-radius: 4px;
}

div.flash-error
{
    background:#f2dede;
    color:#a94442;
    border-color:#ebccd1;
}

div.flash-notice
{
    background:#fcf8e3;
    color:#8a6d3b;
    border-color:#faebcc;
}

div.flash-success
{
    background:#dff0d8;
    color:#3c763d;
    border-color:#d6e9c6;
}

div.flash-error a
{
    color:#8a1f11;
}

div.flash-notice a
{
    color:#514721;
}

div.flash-success a
{
    color:#264409;
}

.player_appearance {
    position: relative;
    width: 180px;
    height: 230px;
}
.player_appearance img {
    position: absolute;
    top:0;
    left:0;
    padding:0;
    margin:0;
    display:block;
}
.pustosh-actions a{
    cursor: pointer !important;
}
.invite-email {
    padding: 0 10px;
    height: 24px;
    width: calc(100% - 210px);
}
.invite-submit {
    height: 26px;
    padding: 0 10px;
    cursor: pointer;
    min-width: 167px;
    max-width: 178px;

}
.invite-submit.list-invite {
    width: 100%;
    max-width: 100%;
    margin: 10px auto;
    display: block;
}
.import-contact {
    padding: 10px 0 5px;
}
.share-wrap {
    padding: 0 0 10px;
    border-bottom: 1px solid #29B200;
    margin-bottom: 15px;
    position: relative;
}
.user-share-link {
    padding: 0 10px;
    height: 24px;
    cursor: pointer;
    width: 345px;
}
.list-invited tr{
    text-align: center;

}
.list-invited tr td{
    padding: 2px 0;
}
#invite_email .wrapper-invite_email{
    border: 1px solid #33cc00;
    padding: 8px;
    text-align: center;
}
.list-invited-other{
    width: 100%;
    text-align: left;
}
.list-invited-other th{
    border: none;
    padding: 0 0 8px 0;
    border-bottom: 1px solid #33cc00;
    text-align: left;

}
.list-invited-other label,
.list-invited-other input {
    vertical-align: top;
    cursor: pointer;
}
.list-invited-other label{
    padding: 0 0 0 3px;
    line-height: 22px;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.list-invited-other tr td:nth-of-type(2) label{
    max-width: 450px;
    overflow: hidden;

}
.list-invited-other td{
    padding: 2px 0;
    border-bottom: 1px solid rgba(51, 204, 0, 0.30);
}
.list-invited-other tr td:last-of-type{}
.list-invited-other tr:last-of-type td{
    /*border-bottom: none;*/
}
.change-invite {
    display: inline-block;
    margin: 5px 0;
}
.gmail-contacts,
.yahoo-contacts,
.outlook-contacts {
    position: relative;
    padding-left: 20px;
}
.gmail-contacts:before,
.yahoo-contacts:before,
.outlook-contacts:before {
    position: absolute;
    content: '';
    left: 0;
    top: -2px;
    display: block;
    width: 20px;
    height:16px;
}
#pagination-invite ul{
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}
#pagination-invite li{
    display: inline-block;
    margin: 0 1px;
}
#pagination-invite li a,
#pagination-invite li span{
    display: block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    color: #29B200;
    text-decoration: none;
    font-size: 12px;
}
#pagination-invite li.hidden{
    display: none;
}
#pagination-invite li.active{
    border: none;
}
#pagination-invite li.active span,
#pagination-invite li.active a,
#pagination-invite li a:hover{
    background: #333333;
    text-decoration: none;
}

.gmail-contacts:before{
    background: url("/img/social/gmail.png") no-repeat;
    background-size: contain;
}
.yahoo-contacts:before{
    background: url("/img/social/yahoo.png") no-repeat;
    background-size: contain;
}
.outlook-contacts:before{
    background: url("/img/social/windowslive.png") no-repeat;
    background-size: contain;
}
.else-invite {
    display: block;
    width: 25px;
    margin: 10px auto;
    position: relative;
    font-size: 15px;
}
.else-invite-wrap {
    position: relative;
}
.else-invite-wrap:before,
.else-invite-wrap:after {
    position: absolute;
    display: block;
    width: 45%;
    height:1px;
    background-color: #29B200;
    top: 7px;
    content: '';
}
.else-invite-wrap:after {
    right: 15px;
}
.else-invite-wrap:before {
    left: 15px;
}
.share-wrap p {
    margin-bottom: 5px;
}
.copy-link{
    cursor: pointer;
}
.copy_finished{
    color: #29B200;
}
.share-wrap .copy-link {
    display: inline-block;
    border: 1px solid #29B200;
    border-left: none;
    line-height: 21px;
    vertical-align: top;
    padding: 3px 10px 0;
    margin-left: -8px;
    text-decoration: none;
    width: 110px;
    box-sizing: border-box;
    text-align: center;
}

.share-wrap .copy-link:hover {
    text-decoration: underline;
}
.share-wrap .copy-finished {
    display: inline-block;
    line-height: 21px;
    vertical-align: top;
    padding: 3px 0 0;
    margin-left: -8px;
    position: absolute;
    top: 23px;
    right: 34.5%;
    font-weight: bold;
    background-color: #000;
}
.sended-invite {
    display: block;
    font-size: 18px;
    margin: 5px 0 0;
}
#invite_email .errors {
    color: #DF0101;
    margin: 5px 0 0;
}
.facebook-link,
.vk-link {
    position: relative;
    padding: 0 0 0 20px;
}
.facebook-link:before,
.vk-link:before {
    position: absolute;
    left: 0;
    top: -2px;
    display: block;
    content: "";
    width: 16px;
    height: 16px;
}
.facebook-link:before{
    background: url('/img/social/facebook-link.ico') no-repeat;
    background-size: contain;
    width: 18px;
    height: 18px;
    top: -3px;
}


.vk-link:before {
    background: url('/img/social/vk-link.ico') no-repeat;
    background-size: contain;
}

/*Error mail BEGIN*/
.errorUI h3{
    font-size: 18px;
    margin-bottom: 5px;
}
.errorUI p{
    font-size: 16px;
}
.errorUI input[name="code"]{
    /*border: 1px solid #d21506;*/
    padding-left: 10px;
    height: 25px;
    margin: 5px 0;
    min-width: 200px;
}
.errorUI input[name="code"]:focus{
    outline: none;
}
.errorUI input[name="code"] + button{
    padding: 0 10px;
    height: 25px !important;
    cursor: pointer;
    border: 1px solid #33cc00;
    background: #000000 url(/css/jui/images/ui-bg_white-lines_10_0f0d06_40x100.png) 50% 50% repeat;
    color: #8a6d3b !important;
}
.errorUI input[name="email"]{
    /*border: 1px solid #d21506;*/
    padding-left: 10px;
    height: 25px;
    margin: 3px 0 5px;
    min-width: 200px;
}
.errorUI input[name="email"]:focus{
    outline: none;
}
.errorUI input[name="email"] + button{
    padding: 0 10px;
    height: 25px !important;
    border: 1px solid #33cc00;
    cursor: pointer;
    background: #000000 url(/css/jui/images/ui-bg_white-lines_10_0f0d06_40x100.png) 50% 50% repeat;
    color: #8a6d3b !important;
}
.errorUI input[name="email"] + button:hover,
.errorUI input[name="code"] + button:hover{
    color: #33cc00 !important;
}
/*.errorUI input[name="email"]::-webkit-input-placeholder {*/
    /*color: #d21506;*/
/*}*/
/*.errorUI input[name="email"]::-moz-placeholder {*/
    /*color: #d21506;*/
/*}*/
/*.errorUI input[name="code"]::-webkit-input-placeholder {*/
    /*color: #d21506;*/
/*}*/
/*.errorUI input[name="code"]::-moz-placeholder {*/
    /*color: #d21506;*/
/*}*/
/*Error mail END*/


/*REFER BEGIN*/
.refer-title {
    text-align: center;
}
.refer-delimiter {
    position: relative;
}
.refer-delimiter:before {
    content: "";
    position: absolute;
    width: 100%;
    height:1px;
    border-bottom: 1px dashed #33cc00;
    top: 20px;
    left: 0;
}
.refer-wrapper {
    padding: 20px 0;
    border-bottom: 1px dashed  #33cc00;
}
.refer-wrapper:last-child {
    border-bottom: none;
}
.refer-wrapper:nth-child(odd){
    background: #000000 url(/css/jui/images/ui-bg_diagonals-small_25_0a0701_40x40.png) 50% 50% repeat;
}
.refer-wrapper .copy-link {
    border: 1px solid #33cc00;
    background: #000000 url(/css/jui/images/ui-bg_white-lines_10_0f0d06_40x100.png) 50% 50% repeat;
    font-weight: bold;
    color: #8a6d3b;
    padding: 5px 10px 3px;
    text-decoration: none;
}
.refer-wrapper .copy-link:hover {
    color: #33cc00;
    text-decoration: underline;
}
.refer-wrapper .copy_block {
    cursor: pointer;
}

.refer-copy-link-wrap {
    height: 40px;
}
/*REFER END*/